<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link href="{{url_for('static', filename='css/banner.css')}}" rel="stylesheet" />
    <script src="{{url_for('static', filename='js/banner.js')}}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet" />

    <title>Document</title>

    <style>
        * {
            font-family: "Gowun Batang", serif;
            /* color: white; */
        }

        .mybox {
            width: 95%;
            max-width: 1100px;
            padding: 20px;
            box-shadow: 0px 0px 10px 0px lightblue;
            margin: 20px auto;
            color: black;
        }

        .mybox-content {
            height: 400px;
        }

        .mybox-content>div {
            float: right;
            height: 350px;
            margin-top: 20px;
        }

        .mycomment {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    </style>

    <script>
        $(document).ready(function () {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const post_id = urlParams.get('id')

            show_detail(post_id);
        });
        function show_detail(post_id) {
            fetch(`/posts/detail?postId=${post_id}`).then((res) => res.json()).then((data) => {
                $('#detail1').empty()
                $('#detail2').empty()
                console.log(data['result'])
                let rows = data['result']
                let title = rows['title']
                let region = rows['region']
                let temp_icon = rows['temp_icon']
                let temp = rows['temp']
                let content = rows['content']
                let ogtitle = rows['ogtitle']
                let ogimage = rows['ogimage']
                let temp_html = ``
                temp_html = `<div class="d-flex flex-row bd-highlight mb-3">
                                <label class="form-control" style="width: 10%; margin:0px 5px 0px 5px; background-color: ivory;" type="text" >${region}</label>
                                <label class="form-control" style="width: 10%; margin:0px 5px 0px 5px; background-color: ivory;" type="text" >${temp_icon}</label>
                                <label class="form-control" style="width: 10%; margin:0px 5px 0px 5px; background-color: ivory;" type="text" >${temp}℃</label>
                            </div>
                            <div>
                                <h2 style="margin-left: 10px">${title}</h2>
                            </div>`
                let temp_html2 = ``
                temp_html2 = `<div class="card" style="width: 40%; max-width: 300px; max-height: 300px; margin-left: 50px; margin-right: 50px;">
                                <img src="${ogimage}" class="card-img-top" alt="album" style="max-width: 300px; max-height: 300px;">
                                <div class="card-body">
                                    <p class="card-text" style="display: flex; flex-direction: column;align-items: center;justify-content: center;">${ogtitle}</p>
                                </div>
                            </div>
                            <div style="width: 60%;">
                                <h4>${content}</h4>
                            </div>`
                $('#detail1').append(temp_html)
                $('#detail2').append(temp_html2)
                
            });

            fetch(`/posts/comment?postId=${post_id}`).then((res) => res.json()).then((data) => {
                let rows = data['result']
                $('#comment-list').empty()
                rows.forEach((a, index) => {
                    let comment = a['comment']
                    let star = a['star']
                    console.log(a)

                    let star_image = '⭐'.repeat(star)

                    let temp_html = ``
                    temp_html = `<tr>
                                    <th scope="row">${index + 1}</th>
                                    <td>${comment}</td>
                                    <td>${star_image}</td>
                                </tr>`
                    $('#comment-list').append(temp_html)
                })
            });

        }

        function save_comment() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            
            const post_id = urlParams.get('id')
            let user_id = getCookie("id")
            let comment = $('#comment').val()
            let star = $('#star').val()

            
            if (user_id == null) {
                alert("로그인이 필요합니다.")
                window.location.href = "/login"
            }
            

            let formData = new FormData();
            formData.append("comment_give", comment);
            formData.append("star_give", star);
            formData.append("userid_give", user_id);
            formData.append("postid_give", post_id)

            fetch('/posts/comment', { method: "POST", body: formData, }).then((response) => response.json()).then((data) => {
                alert(data["msg"]);
                window.location.reload()
            });
        }
    </script>



</head>

<body>
    <div class="mybox" id="detail1">
        <div class="d-flex flex-row bd-highlight mb-3">
            <label class="form-control" style="width: 10%; margin:0px 5px 0px 5px; background-color: ivory;" type="text">region</label>
            <label class="form-control" style="width: 10%; margin:0px 5px 0px 5px; background-color: ivory;" type="text">temp_icon</label>
            <label class="form-control" style="width: 10%; margin:0px 5px 0px 5px; background-color: ivory;" type="text">temp℃</label>
        </div>
        <div>
            <h2 style="margin-left: 10px">제목 출력 부분</h2>
        </div>
    </div>

    <div class="mybox">
        <div class="mybox-content" id="detail2">
            <div class="card" style="width: 40%; max-width: 300px; max-height: 300px; margin-left: 50px; margin-right: 50px;">
                <img src="..." class="card-img-top" alt="album">
                <div class="card-body">
                    <p class="card-text">앨범 설명.</p>
                </div>
            </div>
            <div style="width: 60%;">
                <h4>내용 출력 부분</h4>
            </div>
        </div>
    </div>

    <div class="mybox">
        <table class="mycomment">
            <div class="input-group mb-3">
                <input id="comment" class="form-control" style="width: 65%;" type="text" placeholder="내용을 입력하세요." />
                <label class="input-group-text" for="inputGroupSelect01">별점</label>
                <select class="form-select" id="star">
                    <option selected>-- 선택하기 --</option>
                    <option value="1">⭐</option>
                    <option value="2">⭐⭐</option>
                    <option value="3">⭐⭐⭐</option>
                    <option value="4">⭐⭐⭐⭐</option>
                    <option value="5">⭐⭐⭐⭐⭐</option>
                </select>
                <button onclick="save_comment()" type="button" class="btn btn-outline-primary">등록</button>
            </div>
        </table>
    </div>
    <div class="mybox">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%;">#</th>
                    <th scope="col" style="width: 70%;">댓글</th>
                    <th scope="col" style="width: 20%;">별점</th>
                </tr>
            </thead>
            <tbody id="comment-list">
                <tr>
                    <th scope="row">1</th>
                    <td>댓글 내용</td>
                    <td>⭐⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>댓글 내용</td>
                    <td>⭐⭐⭐⭐⭐</td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</body>

</html>