<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link href="{{url_for('static', filename='css/banner.css')}}" rel="stylesheet" />
    <script src="{{url_for('static', filename='js/banner.js')}}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet" />

    <title>Document</title>

    <style>
        * {
            font-family: "Gowun Batang", serif;
            /* color: white; */
        }

        .inputbox {
            width: 90%;
        }

        .mybox {
            width: 95%;
            max-width: 1100px;
            padding: 20px;
            box-shadow: 0px 0px 10px 0px lightblue;
            margin: 20px auto;
            color: black;
        }

        .write-box {
            width: 95%;
            max-width: 1100px;
            margin: 20px auto;
            color: black;

            display: flex;
            align-items: center;
            justify-content: right;
        }

        .mybox-content {
            height: 400px;
        }
    </style>

    <script>
        $(document).ready(function () {
            set_temp('서울')

            $('#region').change(function () {
                set_temp(this.value)
            })
        });

        function set_temp(region) {
            fetch(`/posts/weather?region=${region}`).then((res) => res.json()).then((data) => {
                let temp_icon = data['result']['wetrTxt']
                let temp = data['result']["tmp"]
                $("#temp_icon").val(temp_icon)
                $("#temp").val(temp)
            });
        }

        function save_post() {
            let formData = new FormData();
            let region = $("#region").val()
            let temp_icon = $("#temp_icon").val()
            let temp = $("#temp").val()
            let title = $("#title").val()
            let music_link = $("#music_link").val()
            let content = $("#content").val()

            console.log(region, temp_icon, temp, title, music_link, content)
            formData.append("region_give", region)
            formData.append("temp_icon_give", temp_icon)
            formData.append("temp_give", temp)
            formData.append("title_give", title)
            formData.append("music_link_give", music_link)
            formData.append("content_give", content)

            fetch('/posts', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                alert(data["msg"])
                window.location.href = window.location.protocol + "//" + window.location.host + "/main"
            });
        }

    </script>



</head>

<body>
    <div class="mybox">
        <div class="d-flex flex-row bd-highlight mb-3">
            <select class="form-select" id="region" style="width:25%">
                <option value="서울" selected>서울</option>
                <option value="경기">경기</option>
                <option value="강원">강원</option>
                <option value="충남">충남</option>
                <option value="충북">충북</option>
                <option value="경북">경북</option>
                <option value="경남">경남</option>
                <option value="전북">전북</option>
                <option value="전남">전남</option>
            </select>
            <input id="temp_icon" value="맑음" class="form-control" style="width: 10%; margin:0px 5px 0px 5px" type="text"
                disabled />
            <input id="temp" value="27.5" class="form-control" style="width: 10%; margin:0px 5px 0px 5px" type="text"
                disabled />
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text">제 목</label>
            <input id="title" class="form-control" style="width: 65%;" type="text" placeholder="예) 봄날의 하늘거리는 벚꽃" />
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text">링 크</label>
            <input id="music_link" class="form-control" style="width: 65%;" type="text" placeholder="예) 벚꽃엔딩 URL..." />
        </div>
    </div>

    <div class="mybox">
        <div class="mybox-content">
            <textarea id="content" placeholder="내용을 입력해주세요..." style="width:100%; height:100%; border:0px;"></textarea>
        </div>
    </div>

    <div class="write-box">
        <button onclick="save_post()" type="button" class="btn btn-primary" id="write">
            작 성
        </button>
    </div>

    </div>

</body>

</html>