.banner {
    width: 100%;
    height: 200px;

    background-image: linear-gradient(0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
    url("../top_image.jpg");
    background-position: center;
    background-size: cover;

    color: white;
}